@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
input{
    text-transform: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Recursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn button{
    border: 0;
    outline: none;
    padding: 4px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
a{
    text-decoration: none !important;
}
.btn{
    margin: 3px;
    border: 0;
    outline: none;
    padding: 4px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
.icon{
    color: #fff;
    padding: 5px 6px;
    height: 20px;

}
.txt{
    color: #fff;
    font-size: 12px;
}
.space{
    padding: 0px 10px;
}
