.mentorship-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.inner-mentorship {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 42px 0px;
    margin-top: 100px;
}

.mentorship-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #171717;
    height: 279px;
    width: 26%;
    text-align: center;
    border-radius: 19px;
    padding: 18px;
    /* color: white; */
}
.mentorship-div p
{
    color: white;
}

.mentorship-div-head1
{
    color: #FF6666;
    font-weight: 700;
    margin: 10px 0px;
    font-size: 19px;
}
.mentorship-div-head2
{
    color: #B366FF;
    font-weight: 700;
    margin: 10px 0px;
    font-size: 19px;
}
.mentorship-div-head3
{
    color: #FFD466;
    font-weight: 700;
    margin: 10px 0px;
    font-size: 19px;
}